Free Templates/More Template/AI Customer Service Advanced Email.json
{
  "name": "AI Customer Service Advanced Email",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -96,
        16
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIAL_ID_HERE",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "Customer Support",
              "description": "Tugas AI: Mengklasifikasikan maksud (intent) pertanyaan customer berdasarkan isi teks.  Kelas intent yang tersedia:  1. Product_Service Definisi: Pertanyaan tentang produk atau layanan perusahaan, termasuk fitur, fungsi, kemampuan sistem, integrasi, solusi, dan demo. Indikator kata: layanan, produk, fitur, integrasi, solusi, demo Konteks umum: Biasanya muncul sebelum keputusan pembelian.  2. Pricing_Payment Definisi: Pertanyaan terkait biaya, harga, paket, pajak, metode pembayaran, dan sistem langganan. Indikator kata: harga, biaya, pembayaran, pajak, paket, langganan  3. Implementation_Onboarding Definisi: Pertanyaan mengenai proses awal kerja sama, tahapan implementasi, estimasi waktu, dan peluncuran sistem. Indikator kata: implementasi, proses, estimasi, waktu, uji coba, peluncuran  4. Support_AfterSales Definisi: Pertanyaan tentang dukungan teknis setelah layanan berjalan, termasuk SLA dan cara melaporkan kendala. Indikator kata: support, SLA, kendala, bantuan, tiket, 24/7  5. Security_DataPrivacy Definisi: Pertanyaan mengenai keamanan, privasi, penyimpanan data, dan kepatuhan terhadap regulasi. Indikator kata: keamanan, data, privasi, enkripsi, regulasi  6. Legal_Compliance Definisi: Pertanyaan terkait legalitas perusahaan, kontrak kerja sama, dan mekanisme penyelesaian sengketa. Indikator kata: kontrak, hukum, sengketa, legal, kepatuhan  7. Career_HR Definisi: Pertanyaan mengenai lowongan kerja, karier, magang, dan proses rekrutmen. Indikator kata: lowongan, karier, magang, rekrutmen  8. General_Contact Definisi: Pertanyaan umum atau permintaan informasi yang tidak secara jelas masuk ke kategori lain. Indikator kata: kontak, informasi lebih lanjut, bantuan umum"
            },
            {
              "category": "Other",
              "description": "pertanyaan yang tidak kerkait dengan customer support"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        112,
        16
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        112,
        208
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_CREDENTIAL_ID_HERE",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "YOUR_GMAIL_LABEL_ID_HERE"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        464,
        -80
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "Add label to message",
      "webhookId": "YOUR_WEBHOOK_ID_HERE",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIAL_ID_HERE",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Gmail Trigger').item.json.text }}",
        "options": {
          "systemMessage": "Anda adalah AI Agent Customer Service resmi untuk PT Contoh Teknologi Nusantara.\n\nPeran utama Anda:\nMembantu pelanggan dengan memberikan informasi yang jelas, sopan, profesional, dan bermanfaat terkait layanan perusahaan.\n\nRuang lingkup layanan Anda meliputi:\n- Informasi umum perusahaan\n- Produk dan layanan\n- Harga dan metode pembayaran\n- Proses pemesanan, onboarding, dan implementasi\n- Dukungan teknis dan layanan purna jual\n- Keamanan dan privasi data\n- Legal, kontrak, dan kepatuhan\n- Karier dan rekrutmen\n\nSumber informasi:\n- Gunakan dokumen FAQ dan knowledge base (RAG) sebagai sumber utama.\n- Prioritaskan jawaban yang didukung oleh data yang tersedia.\n\nAturan menjawab:\n1. Jika informasi tersedia secara eksplisit di knowledge base:\n   - Jawab dengan akurat dan ringkas.\n\n2. Jika informasi tidak tersedia secara eksplisit, tetapi masih dalam konteks Customer Service:\n   - Berikan penjelasan umum atau prosedural yang aman dan lazim digunakan dalam layanan Customer Service.\n   - Jelaskan bahwa detail spesifik akan dikonfirmasi lebih lanjut bila diperlukan.\n   - Jangan mengarang fakta teknis, angka, atau janji yang tidak tercantum.\n\n3. Jika pertanyaan mencakup lebih dari satu topik:\n   - Jawab setiap topik secara terpisah dan terstruktur.\n\n4. Jika pertanyaan berada di luar ruang lingkup Customer Service:\n   - Sampaikan dengan sopan bahwa pertanyaan tersebut berada di luar layanan Customer Service.\n\nBatasan penting:\n- Anda bukan penasihat hukum, keuangan, medis, atau teknis tingkat lanjut.\n- Anda tidak memberikan opini pribadi, spekulasi, atau prediksi.\n- Anda tidak membuat klaim yang tidak dapat dipertanggungjawabkan secara resmi.\n\nGaya bahasa:\n- Formal profesional\n- Netral\n- Ramah dan membantu\n- Solutif, tidak kaku\n- Tidak bertele-tele\n\nTujuan utama:\nMemberikan pengalaman Customer Service yang membantu dan meyakinkan, meskipun informasi yang diminta belum sepenuhnya tersedia.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        672,
        -80
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        464,
        112
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Bekerjalah sesuai data yang anda miliki dan gunakan semaksimal mungkin data yang anda miliki",
        "tableName": {
          "__rl": true,
          "value": "your_table_name_here",
          "mode": "list",
          "cachedResultName": "FAQ"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        736,
        112
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_CREDENTIAL_ID_HERE",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        736,
        256
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_CREDENTIAL_ID_HERE",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        992,
        -80
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "Reply to a message",
      "webhookId": "YOUR_WEBHOOK_ID_HERE",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIAL_ID_HERE",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "YOUR_VERSION_ID_HERE",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID_HERE"
  },
  "id": "YOUR_WORKFLOW_ID_HERE",
  "tags": []
}