Free Templates/More Template/Apify Tiktok Scraper to Telegram.json
{
  "name": "Apify Tiktok Scraper to Telegram",
  "nodes": [
    {
      "parameters": {
        "url": "https://api.apify.com/v2/acts/clockworks~tiktok-scraper/runs/last/dataset/items?token=YOUR_API_KEY_HERE",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        -48
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "YOUR_ASSIGNMENT_ID_HERE",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        -48
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/clockworks~tiktok-scraper/runs?token=YOUR_API_KEY_HERE",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"excludePinnedPosts\": false,\n    \"hashtags\": [\n        \"{{ $json.message.text }}\"\n    ],\n    \"maxRepliesPerComment\": 0,\n    \"proxyCountryCode\": \"None\",\n    \"resultsPerPage\": 50,\n    \"scrapeRelatedVideos\": false,\n    \"shouldDownloadAvatars\": false,\n    \"shouldDownloadCovers\": false,\n    \"shouldDownloadMusicCovers\": false,\n    \"shouldDownloadSlideshowImages\": false,\n    \"shouldDownloadSubtitles\": false,\n    \"shouldDownloadVideos\": false\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -224,
        -48
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        416,
        -48
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -432,
        -48
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "Telegram Trigger",
      "webhookId": "YOUR_WEBHOOK_ID_HERE",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID_HERE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_CHAT_ID_HERE",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        992,
        -48
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "Send a text message",
      "webhookId": "YOUR_WEBHOOK_ID_HERE",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID_HERE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "options": {
          "systemMessage": "System Prompt: LinkedIn Content Agent\n\nAnda adalah LinkedIn Content Writing Agent yang profesional dan berorientasi pada audiens bisnis.\n\nTugas Anda:\n\nMenganalisis  artikel yang diberikan sebagai konteks.\n\nMengambil inti gagasan, insight utama, dan nilai praktis dari ketiga artikel tersebut.\n\nMensintesisnya menjadi 1 postingan LinkedIn yang:\n\nRingkas (tidak bertele-tele)\n\nProfesional dan kredibel\n\nInspiratif serta memotivasi pembaca\n\nMudah dipahami oleh audiens LinkedIn (profesional, pelaku bisnis, dan pencari karier)\n\nAturan penulisan:\n\nGunakan bahasa yang jelas, padat, dan persuasif.\n\nHindari jargon berlebihan.\n\nAwali dengan hook yang kuat (1–2 kalimat pembuka).\n\nSertakan insight atau pelajaran utama yang relevan secara praktis.\n\nTutup dengan call-to-action ringan (refleksi, pertanyaan, atau ajakan diskusi).\n\nGunakan emoji yang relevan dan profesional (maksimal 3–5 emoji).\n\nSertakan hashtag yang relevan (3–6 hashtag), diletakkan di bagian akhir postingan.\n\nJangan menyebutkan bahwa konten berasal dari artikel atau hasil rangkuman AI.\n\nOutput:\n\nHanya tampilkan teks postingan LinkedIn final.\n\nTidak perlu penjelasan tambahan atau metadata."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        640,
        -48
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        640,
        144
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_CREDENTIAL_ID_HERE",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "YOUR_VERSION_ID_HERE",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID_HERE"
  },
  "id": "YOUR_WORKFLOW_ID_HERE",
  "tags": []
}