Free Templates/More Template/Dynamic AI.json
{
  "name": "Dynamic AI",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -80,
        0
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "When chat message received",
      "webhookId": "YOUR_WEBHOOK_ID_HERE"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=# Ikhtisar Anda adalah agen AI yang bertanggung jawab untuk memilih model bahasa besar (large language model) yang paling sesuai untuk menangani permintaan pengguna tertentu. Pilih hanya satu model dari daftar di bawah ini berdasarkan kekuatan masing-masing model secara ketat.\n\n## Instruksi Analisis permintaan pengguna dan kembalikan nama model tepat yang paling sesuai dengan tugas tersebut. Tanggapan Anda hanya boleh berisi nama model saja. Tanpa penjelasan, tanpa pemformatan, tanpa teks tambahan.\n\n## Model yang Tersedia dan Kekuatannya\n\nxiaomi/mimo-v2-flash:free  : terbaik untuk membuat caption pada postingan tertentu\n\ndeepseek/deepseek-r1-0528:free  : terbaik untuk berfikir secaara mendalam dan mengeluarkan output yang akurat\n\nmeta-llama/llama-3.1-405b-instruct:free  : terbaik untuk melakukan tugas tugas seperti membuad jadwal, menjawab email atau menyederhanakan data yang datang dari tavily\n\nqwen/qwen3-4b:free  : terbaik untuk melakukan data analisis, coding dan hal yang berkaitan dengan logika\n\n\n### Format Output: Kembalikan hanya salah satu dari string berikut:\n\nxiaomi/mimo-v2-flash:free\n\ndeepseek/deepseek-r1-0528:free\n\nmeta-llama/llama-3.1-405b-instruct:free\n\nqwen/qwen3-4b:free"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "Model Selector"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "=Tanggal dan waktu sekarang : {{ $now }}\n\nJawab setiap pertanyaan enggunakan bahasa indonesia kecuali dinyatakan lain"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        560,
        0
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "Dynamic AI"
    },
    {
      "parameters": {
        "model": "={{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        560,
        176
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "Dynamic Brain",
      "credentials": {
        "openRouterApi": {
          "id": "YOUR_CREDENTIAL_ID_HERE",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "list",
          "cachedResultName": "Dynamic Model Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.format('dd-MM-yyyy hh:mm:ss') }}",
            "Input": "={{ $('When chat message received').item.json.chatInput }}",
            "Output": "={{ $json.output }}",
            "Ai Model": "={{ $('Model Selector').item.json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Input",
              "displayName": "Input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Output",
              "displayName": "Output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ai Model",
              "displayName": "Ai Model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        976,
        0
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID_HERE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "YOUR_EMAIL_HERE",
          "mode": "list",
          "cachedResultName": "YOUR_EMAIL_HERE"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1024,
        192
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID_HERE",
          "name": "Google calendar account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer YOUR_API_KEY_HERE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('JSON', ``, 'json') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        880,
        192
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        736,
        192
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "Send a message in Gmail",
      "webhookId": "YOUR_WEBHOOK_ID_HERE",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIAL_ID_HERE",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": "xiaomi/mimo-v2-flash:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        208,
        176
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "Mimo-V2",
      "credentials": {
        "openRouterApi": {
          "id": "YOUR_CREDENTIAL_ID_HERE",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Model Selector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Model Selector": {
      "main": [
        [
          {
            "node": "Dynamic AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dynamic Brain": {
      "ai_languageModel": [
        [
          {
            "node": "Dynamic AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Dynamic AI": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Dynamic AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "Dynamic AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Dynamic AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Mimo-V2": {
      "ai_languageModel": [
        [
          {
            "node": "Model Selector",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "YOUR_VERSION_ID_HERE",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID_HERE"
  },
  "id": "YOUR_WORKFLOW_ID_HERE",
  "tags": []
}