Free Templates/More Template/Invoice Workflow.json
{
  "name": "Invoice Workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "YOUR_GOOGLE_DRIVE_FOLDER_ID_HERE",
          "mode": "list",
          "cachedResultName": "Invoice DB",
          "cachedResultUrl": "https://drive.google.com/drive/folders/YOUR_GOOGLE_DRIVE_FOLDER_ID_HERE"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -48,
        0
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID_HERE",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        160,
        0
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID_HERE",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "Invoice Number",
              "description": "Nomor invoice yang ada di dalam text",
              "required": true
            },
            {
              "name": "Client Name",
              "description": "nama klien yang ada di dalam data",
              "required": true
            },
            {
              "name": "Client Email",
              "description": "email klien yang ada di dalam data",
              "required": true
            },
            {
              "name": "Client Address",
              "description": "Alamat klien yang ada di dalam data",
              "required": true
            },
            {
              "name": "Client Phone",
              "description": "Nomor telepon klien yang ada di dalam data",
              "required": true
            },
            {
              "name": "Total Amount",
              "description": "Total invoice yang ada di dalam data",
              "required": true
            },
            {
              "name": "Invoice Date",
              "description": "Tanggal invoice di buat yang ada di dalam data",
              "required": true
            },
            {
              "name": "Due Date",
              "description": "tanggal kadaluarsa invoice yang ada di dalam data"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        624,
        0
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        624,
        208
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_CREDENTIAL_ID_HERE",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "list",
          "cachedResultName": "Invoice Data Base",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Invoice Number": "={{ $json.output['Invoice Number'] }}",
            "Client Email": "={{ $json.output['Client Email'] }}",
            "Client Name": "={{ $json.output['Client Name'] }}",
            "Client Address": "={{ $json.output['Client Address'] }}",
            "Client Phone": "={{ $json.output['Client Phone'] }}",
            "Total Amount": "={{ $json.output['Total Amount'] }}",
            "Invoice Date": "={{ $json.output['Invoice Date'] }}",
            "Due Date": "={{ $json.output['Due Date'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Invoice Number",
              "displayName": "Invoice Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Name",
              "displayName": "Client Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Email",
              "displayName": "Client Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Address",
              "displayName": "Client Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Phone",
              "displayName": "Client Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Amount",
              "displayName": "Total Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Invoice Date",
              "displayName": "Invoice Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Due Date",
              "displayName": "Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        960,
        0
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID_HERE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Invoice Number : {{ $json['Invoice Number'] }}\n\nCustomer Name : {{ $json['Client Name'] }}\n\nCustomer Email : {{ $json['Client Email'] }}\n\nInvoice Total Amount : {{ $json['Total Amount'] }}\n\nInvoice Date : {{ $json['Invoice Date'] }}\n\nDue Date : {{ $json['Due Date'] }}\n",
        "options": {
          "systemMessage": "SYSTEM MESSAGE:\n\nYou are an automated email agent.\nYour task is to send an email to the admin email address.\n\nThe email must be professional, concise, and factual.\n\nOnly include the following data fields in the email body:\n\nInvoice Number\n\nCustomer Name\n\nCustomer Email\n\nInvoice Total Amount\n\nInvoice Date\n\nDue Date\n\n buatkan teks emailnya untuk siap dikirimkan, buatkan subjectnya dan bodynya juga dengan bahasa formal\n\n\nThe output must be a clean, readable email format suitable for internal administrative use."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1168,
        0
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsCode": "// Ambil input dari node sebelumnya\nconst emailText = $input.first().json.output; // sesuaikan dengan field Anda\n\n// Fungsi untuk memisahkan subject dan body\nfunction separateEmailParts(text) {\n  // Cari pattern \"Subject:\" diikuti dengan konten\n  const subjectMatch = text.match(/Subject:\\s*(.+?)(?=\\n\\n|\\nBody:|\\n[A-Z][a-z]+:)/i);\n  \n  // Cari pattern \"Body:\" diikuti dengan konten\n  const bodyMatch = text.match(/Body:\\s*([\\s\\S]+)/i);\n  \n  // Jika tidak ada label \"Subject:\" atau \"Body:\", coba pisahkan berdasarkan paragraf pertama\n  if (!subjectMatch && !bodyMatch) {\n    const lines = text.trim().split('\\n');\n    return {\n      subject: lines[0].trim(),\n      body: lines.slice(1).join('\\n').trim()\n    };\n  }\n  \n  return {\n    subject: subjectMatch ? subjectMatch[1].trim() : '',\n    body: bodyMatch ? bodyMatch[1].trim() : text\n  };\n}\n\n// Pisahkan email\nconst result = separateEmailParts(emailText);\n\n// Return sebagai output\nreturn {\n  subject: result.subject,\n  body: result.body\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        272
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "YOUR_EMAIL_HERE",
        "subject": "={{ $json.subject }}",
        "emailType": "text",
        "message": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1040,
        272
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "Send a message",
      "webhookId": "YOUR_WEBHOOK_ID_HERE",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIAL_ID_HERE",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "YOUR_VERSION_ID_HERE",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID_HERE"
  },
  "id": "YOUR_WORKFLOW_ID_HERE",
  "tags": []
}