Free Templates/More Template/Telegram to Twitter Content Workflow.json
{
  "name": "Telegram to Twitter Content Workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -208,
        0
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "Telegram Trigger",
      "webhookId": "YOUR_WEBHOOK_ID_HERE",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID_HERE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_KEY_HERE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ $json.message.text }}\",\n  \"auto_parameters\": false,\n  \"topic\": \"general\",\n  \"search_depth\": \"basic\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 2,\n  \"time_range\": null,\n  \"start_date\": \"2025-02-09\",\n  \"end_date\": \"2025-12-29\",\n  \"include_answer\": false,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_favicon\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": [],\n  \"country\": null,\n  \"include_usage\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        0
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "YOUR_ASSIGNMENT_ID_HERE",
              "name": "Post",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        0
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "message": "={{ $json.Post }}",
        "responseType": "freeText",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        816,
        0
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "Send a text message",
      "webhookId": "YOUR_WEBHOOK_ID_HERE",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID_HERE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.data.text }}",
        "categories": {
          "categories": [
            {
              "category": "Diterima",
              "description": "Jika teks mengandung persetujuan, konfirmasi, atau perintah untuk mengirim/lanjutkan tanpa perubahan. Contoh kata/frasa: setuju, sudah sesuai, kirimkan, lanjutkan, oke, ok, gas, submit, publish."
            },
            {
              "category": "Revisi",
              "description": "Jika teks mengandung permintaan perubahan, penolakan, koreksi, saran tambahan, atau kata/kalimat yang tidak menunjukkan persetujuan langsung. Contoh kata/frasa: revisi, perbaiki, ubah, kurang tepat, tambahkan, belum sesuai, tidak setuju."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        1104,
        0
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        976,
        272
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "Gemini 2.5 Flash",
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_CREDENTIAL_ID_HERE",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "model": "xiaomi/mimo-v2-flash:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        832,
        272
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "Mimo V2 Flash",
      "credentials": {
        "openRouterApi": {
          "id": "YOUR_CREDENTIAL_ID_HERE",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Teks paragraf revisi : {{ $('AI Pembuat Paragraf').item.json.output }}\nSaran dari pengguna : {{ $('Send a text message').item.json.data.text }}",
        "options": {
          "systemMessage": "=#Pendahuluan\nAnda adalah asisten ai cerdas yang bisa membuat teks paragraf yang langsung bisa diupload ke media sosial.\nAnda akan diberikan paragraf yang tidak lolos seleksi, dan anda bertugas merevisi paragraf tersebut sesuai kebutuhan pengguna\n\nNote : Jangan berhalusinasi, hanya mengeluarkan output saja tanpa basa basi."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1696,
        16
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "AI Revisi"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Artikel 1 : {{ $json.results[0].content }}\n\nArtikel 2 : {{ $json.results[1].content }}\n",
        "options": {
          "systemMessage": "=#Pendahuluan\nAnda adalah asisten ai cerdas yang bisa membuat teks paragraf yang langsung bisa diupload ke media sosial.\nAnda akan diberikan 2 artikel untuk anda analisis dan buat paragraf ringkas sederhana dari data artikel yang diberikan\n\nNote : Jangan berhalusinasi, hanya mengeluarkan output saja tanpa basa basi."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "AI Pembuat Paragraf"
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        1744,
        -144
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "Create Tweet",
      "credentials": {
        "twitterOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID_HERE",
          "name": "X account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Pembuat Paragraf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Create Tweet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Revisi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.5 Flash": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Mimo V2 Flash": {
      "ai_languageModel": [
        [
          {
            "node": "AI Pembuat Paragraf",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Revisi",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Revisi": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Pembuat Paragraf": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "YOUR_VERSION_ID_HERE",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID_HERE"
  },
  "id": "YOUR_WORKFLOW_ID_HERE",
  "tags": []
}