Free Templates/More Template/Executive Assistant (EA)/Meeting Action Items Extractor.json
{
  "name": "Meeting Action Items Extractor",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        192,
        0
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "Telegram Trigger",
      "webhookId": "YOUR_WEBHOOK_ID_HERE",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID_HERE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an executive assistant extracting action items from meeting notes.\n\nMeeting notes:\n{{ $json.message.text }}\n\nTasks:\n1. Identify all action items/tasks\n2. For each task, determine:\n   - Task: what needs to be done\n   - Assignee: who is responsible (if mentioned)\n   - Due Date: deadline (if mentioned, format YYYY-MM-DD)\n3. If assignee not mentioned, use \"Unassigned\"\n4. If due date not mentioned, use \"No deadline\"\n\n{\n  \"meeting_date\": \"time in hours, minutes, and date if mentioned\",\n  \"action_items\": [\n    {\n      \"task\": \"string\",\n      \"assignee\": \"string\",\n      \"due_date\": \"string or null\"\n    }\n  ]\n}\n\nDO NOT USE ```\n\nFOLLOW OUTPUT INSTRUCTION STRICTLY",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        432,
        0
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        432,
        176
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "YOUR_CREDENTIAL_ID_HERE",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get raw output from AI\nconst rawOutput = $input.first().json.output || \"\";\n\ntry {\n  // Extract content between { and }\n  const jsonMatch = rawOutput.match(/\\{[\\s\\S]*\\}/);\n  \n  if (!jsonMatch) {\n    throw new Error(\"No JSON format found in output.\");\n  }\n\n  // Clean and parse\n  const cleanJsonString = jsonMatch[0].replace(/\\\\n/g, ' ');\n  const parsedData = JSON.parse(cleanJsonString);\n\n  // Transform into separate items\n  return parsedData.action_items.map(item => {\n    return {\n      json: {\n        task: item.task,\n        assignee: item.assignee,\n        due_date: item.due_date,\n        meeting_date: parsedData.meeting_date || \"N/A\"\n      }\n    };\n  });\n\n} catch (error) {\n  return {\n    json: {\n      error: \"Parse failed: \" + error.message,\n      raw_text: rawOutput\n    }\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        0
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "YOUR_ASSIGNMENT_ID_HERE",
              "name": "task",
              "value": "={{ $json.task }}",
              "type": "string"
            },
            {
              "id": "YOUR_ASSIGNMENT_ID_HERE",
              "name": "assignee",
              "value": "={{ $json.assignee }}",
              "type": "string"
            },
            {
              "id": "YOUR_ASSIGNMENT_ID_HERE",
              "name": "due_date",
              "value": "={{ $json.due_date }}",
              "type": "string"
            },
            {
              "id": "YOUR_ASSIGNMENT_ID_HERE",
              "name": "Status",
              "value": "pending",
              "type": "string"
            },
            {
              "id": "YOUR_ASSIGNMENT_ID_HERE",
              "name": "created_at",
              "value": "={{ $now.format('dd-MM-yyyy hh:mm:ss') }}",
              "type": "string"
            },
            {
              "id": "YOUR_ASSIGNMENT_ID_HERE",
              "name": "submitted_by",
              "value": "telegram_user",
              "type": "string"
            },
            {
              "id": "YOUR_ASSIGNMENT_ID_HERE",
              "name": "meeting_date",
              "value": "={{ $json.meeting_date }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        992,
        0
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "list",
          "cachedResultName": "Meeting Summary",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Task": "={{ $json.task }}",
            "Assignee": "={{ $json.assignee }}",
            "Due Date": "={{ $json.due_date }}",
            "Status": "={{ $json.Status }}",
            "Created At": "={{ $json.created_at }}",
            "Submitted By": "={{ $json.submitted_by }}",
            "Meeting Date": "={{ $json.meeting_date }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Task",
              "displayName": "Task",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Assignee",
              "displayName": "Assignee",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Due Date",
              "displayName": "Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Created At",
              "displayName": "Created At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Submitted By",
              "displayName": "Submitted By",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meeting Date",
              "displayName": "Meeting Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1200,
        0
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID_HERE",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "YOUR_VERSION_ID_HERE",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID_HERE"
  },
  "id": "YOUR_WORKFLOW_ID_HERE",
  "tags": []
}
