Free Templates/More Template/Executive Assistant (EA)/Morning Brief.json
{
  "name": "Morning Brief",
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "limit": 5,
        "filters": {
          "readStatus": "unread",
          "sender": "YOUR_EMAIL_HERE"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        208,
        96
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "Get many messages",
      "webhookId": "YOUR_WEBHOOK_ID_HERE",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIAL_ID_HERE",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "YOUR_EMAIL_HERE",
          "mode": "list",
          "cachedResultName": "YOUR_EMAIL_HERE"
        },
        "returnAll": true,
        "timeMin": "={{ $now.startOf('day').toISO() }}",
        "timeMax": "={{ $now.endOf('day').toISO() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        224,
        -144
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "Get many events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID_HERE",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "YOUR_ASSIGNMENT_ID_HERE",
              "name": "Calendar",
              "value": "={{ $json.summary }} from {{ $json.start.date }} to {{ $json.end.date }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        -144
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "YOUR_ASSIGNMENT_ID_HERE",
              "name": "Gmail",
              "value": "={{ $json.from.value[0].address }} - {{ $json.subject }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        96
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        400,
        96
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "Get a message",
      "webhookId": "YOUR_WEBHOOK_ID_HERE",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIAL_ID_HERE",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1232,
        -16
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "Merge"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a senior executive assistant. Create a morning brief for the boss based on the following data:\n\nTODAY'S CALENDAR DATA:\n{{ $json.Calendar }}\n\nIMPORTANT EMAILS DATA:\n{{ $json.data.map(i => i.Gmail).join('\\n') }}\n\nCreate a summary with the following format:\n\n🌅 Good morning!\n\n📌 TODAY'S MEETINGS:\n[if there are meetings, list time and event]\n[if none, write \"No meetings scheduled\"]\n\n📧 IMPORTANT EMAILS:\n[if there are emails, list sender and subject]\n[if none, write \"No new emails requiring attention\"]\n\n⚠️ DEADLINES:\n[check if there are deadlines from data, or write \"No urgent deadlines\"]\n\n💡 RECOMMENDATION:\n[provide 1 short recommendation sentence]\n\nHave a productive day! 🚀",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1552,
        -16
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1552,
        224
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "YOUR_CREDENTIAL_ID_HERE",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = String($input.first().json.output);\n\n// Split input into lines\nconst lines = input.split(/\\r?\\n/);\n\nconst result = {};\nlet currentKey = null;\n\n// Iterate each line to find categories\nlines.forEach(line => {\n  const cleanLine = line.trim();\n  if (!cleanLine) return;\n\n  // Detect Headers\n  if (cleanLine.includes(\"MEETINGS\")) {\n    currentKey = \"meeting\";\n    result[currentKey] = \"\";\n  } else if (cleanLine.includes(\"EMAILS\")) {\n    currentKey = \"email\";\n    result[currentKey] = \"\";\n  } else if (cleanLine.includes(\"DEADLINES\")) {\n    currentKey = \"deadline\";\n    result[currentKey] = \"\";\n  } else if (cleanLine.includes(\"RECOMMENDATION\")) {\n    currentKey = \"rekomendasi\";\n    result[currentKey] = \"\";\n  } \n  // If line is not a header and we are under a header, add to value\n  else if (currentKey && !cleanLine.includes(\"Have a productive day\")) {\n    result[currentKey] += (result[currentKey] ? \" \" : \"\") + cleanLine;\n  }\n});\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        -16
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        816,
        96
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "text": "={{ $json.meeting }}\n\n{{ $json.email }}\n\n{{ $json.deadline }}\n\n{{ $json.rekomendasi }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2192,
        -16
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "Send a text message",
      "webhookId": "YOUR_WEBHOOK_ID_HERE",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID_HERE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -96,
        -32
      ],
      "id": "YOUR_NODE_ID_HERE",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Get many messages": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "YOUR_VERSION_ID_HERE",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID_HERE"
  },
  "id": "YOUR_WORKFLOW_ID_HERE",
  "tags": []
}